<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firstaid">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAid"
        tools:targetApi="31">
        <activity
            android:name=".jroh"
            android:exported="false" />
        <activity
            android:name=".kdmat"
            android:exported="false" />
        <activity
            android:name=".thirdburn"
            android:exported="false" />
        <activity
            android:name=".secondburn"
            android:exported="false" />
        <activity
            android:name=".firstburn"
            android:exported="false" />
        <activity
            android:name=".kemai"
            android:exported="false" />
        <activity
            android:name=".pois"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Brokenbones"
            android:exported="false" />
        <activity
            android:name=".Choking"
            android:exported="false" />
        <activity
            android:name=".Forcardiopulmonaryresuscitation"
            android:exported="false" />
        <activity
            android:name=".Poisoningcases"
            android:exported="false" />
        <activity
            android:name=".Burns"
            android:exported="false" />
        <activity
            android:name=".Woundss"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>